@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;600;700;900&display=swap');
/*SANS Inconsolata W300, 500, 600, 900*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap');
/*SERIF Playfair Display W400, 500, 700, 900 */

:root {
    /* COLORS */
    /* Primary */
    --cl-primary100: #2C49F8;
    --cl-primary20: #DCE2FE;
    --cl-primary10: #EEF0FE;
    /* Secondary */
    --cl-secondary-white: #FFFFFF;
    --cl-secondary-black: #000000;
    --cl-secondary-blue-L: #A8A9B4;
    --cl-secondary-blue-M: #8B8EA3;
    --cl-secondary-blue-D: #565A74;
    /* Success */
    --cl-success100: #3D9E53;
    --cl-success10: #ECF5EE;
    /* Warning */
    --cl-warning100: #FEC971;
    --cl-warning50: #FFE4B8;
    --cl-warning20: #FFF4E3;
    /* Danger */
    --cl-danger100: #F77878;
    --cl-danger50: #FBBCBC;
    --cl-danger10: #FEF1F1;
    /* FONTS */
    --sans: 'Inconsolata', monospace;
    --serif: 'Playfair Display', serif;
    /* TRANSITION */
    --transition: 0.2s;
    /* SVG COLOR FILTERS */
    --f-white: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    --f-grey: brightness(0) saturate(100%) invert(35%) sepia(1%) saturate(1978%) hue-rotate(194deg) brightness(94%) contrast(87%);
}

body {
    margin: 0;
    font-family: var(--sans);
    background-color: var(--cl-primary10);
}

/* CONTAINERS WIDTH */
.top-nav, .sub-nav, main { width: 1105px; margin: 0 auto; }
/* CONTAINERS WIDTH */

/* ======== HEADER ======== */

header {
    width: 100%;
    height: 121px;
    position: fixed;
    left: 0;
    top: 0;
}

.top-bg {
    width: 100%;
    height: 65px;
    background-color: var(--cl-secondary-black);
    position: relative;
    z-index: -3;
}

.sub-bg {
    width: 100%;
    height: 55px;
    background-color: var(--cl-secondary-white);
    border-bottom: 1px solid var(--cl-primary20);
    position: relative;
    z-index: -4;
}

.top-nav {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */

.logo-container {
    position: absolute;
    display: flex;
    left: -109px;
    cursor: pointer;
}

.logo {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    border: 1px solid var(--cl-secondary-blue-D);
    border-radius: 11px;
    margin-right: 8px;
    background: url(files/logo.svg) center no-repeat;
    cursor: pointer;
}

.logo::after {
    content: '';
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -4px;
    left: -4px;
    background-color: var(--cl-secondary-white);
    border: solid var(--cl-secondary-white);
    border-width: 4px 4px 13px 4px;
    border-radius: 13px 13px 0 0;
    z-index: -1;

}

.logo-dropdown {
    position: absolute;
    background-color:var(--cl-secondary-white);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 164px;
    height: 71px;
    border-radius: 4px;
    padding: 14px 23px 14px 16px;
    top: 44px;
    left: -22px;
    z-index: -2;
    border: 1px solid var(--cl-primary20);
    cursor: default;
}

.input-label-cnt {
    width: 100%;
    display: flex;
    height: 14px;
    align-items: center;
    margin-bottom: 3px;
}

.dropdown-radio {
    width: 14px;
    height: 14px;
    margin: 0;
    margin-right: 10px;
}

.plan-name {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}

.plan-descr {
    font-size: 12px;
    line-height: 12px;
    color: var(--cl-secondary-blue-M);
    margin: 0 0 0 24px;
}

.logo-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.logo-icon-container img {
    width: 8px;
    height: auto;
}

.l-i-u {
    margin-bottom: 2.8px;
}

.l-i-d {
    margin-top: 2.8px;
}

.l-i-u path {
    stroke: var(--cl-secondary-blue-D);
}

.l-i-d path {
    stroke: var(--cl-secondary-blue-D);
}

/* DROPDOWN */

.logo-container:hover .logo{
    border-color: var(--cl-primary20);
    transition: var(--transition);
}

.logo-container:hover .logo-icon-container svg path{
    stroke: var(--cl-primary20);
    transition: var(--transition);
}

.logo-switch-label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.logo-container:focus-within {
    pointer-events: none;
}

.logo-container:focus-within .logo {
    border-color: var(--cl-secondary-white);
    background-color: var(--cl-primary100);
    transition: 0ms;
}

.logo-container:focus-within .logo-icon-container svg path {
    stroke: var(--cl-secondary-white);
}

.logo-container:focus-within .logo::after {
    display: block;
    transition: 0.1ms;
}

.logo-container:focus-within .logo .logo-dropdown {
    display: flex;
    transition: 0.1ms;
}

/* NAV */

nav, .nav-item {
    display: flex;
    align-items: center;
}

.nav-item {
    color: var(--cl-secondary-blue-M);
    margin-right: 25px;
    text-decoration: none;
}

.nav-item span {
    font-size: 15px;
    font-weight: 400;
}

.item-icon {
    margin-right: 7px;
    display: block;
}

.item-icon path {
    fill: var(--cl-secondary-blue-M);
}

.nav-item:hover span {
    color: var(--cl-primary20);
    transition: var(--transition);
}

.nav-item:hover .item-icon path {
    fill: var(--cl-primary20);
    transition: var(--transition);
}

.nav-item:hover .active-page path {
    stroke: var(--cl-primary20);
    transition: var(--transition);
}

.active-page {
    margin-left: 4px;
    margin-top: 1.5px;
}

.active-page path {
    fill: none;
    stroke: var(--cl-secondary-blue-M);
}

/* PROFILE */

.profile {
    display: flex;
    align-items: center;
}

.profile-ic {
    display: block;
    margin: 0 10px;
    cursor: pointer;
}

.profile-ic path {
    fill: var(--cl-secondary-blue-M);
}

.profile-ic:hover path {
    fill: var(--cl-primary20);
    transition: var(--transition);
}

.bell {
    position: relative;
    cursor: pointer;
}

.bell::after {
    content: '3';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid var(--cl-secondary-black);
    background-color: var(--cl-secondary-blue-M);
    border-radius: 1890px;
    color: var(--cl-secondary-white);
    font-size: 9px;
    font-weight: 500;
    text-align: center;
    line-height: 16px;
    top: -6px;
    left: 3px;
}

.bell:hover::after {
    background-color: var(--cl-primary100);
    transition: var(--transition);
}

.bell:hover .profile-ic path {
    fill: var(--cl-primary20);
    transition: var(--transition);
}

/* SCROLL */
main {
    height: 1366px;
}

.profpic {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--cl-secondary-white);
    color: var(--cl-primary100);
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
    cursor: pointer;
}

.profpic-ic {
    margin: 0 6px 0 9px;
    fill: var(--cl-secondary-blue-M);
    cursor: pointer;
}

.profpic:hover + .profpic-ic, .profpic-ic:hover {
    fill: var(--cl-primary20);
    transition: var(--transition);
}

/* SUB NAV */

.sub-nav {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.sub-nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sub-nav-title {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    margin-right: 9px;
    cursor: default;
    color: var(--cl-secondary-blue-D);
}

.sub-nav-tab {
    color: var(--cl-secondary-blue-M);
    padding: 7px 7px 7px 12px;
    display: flex;
    align-items: center;
    border: 1px solid var(--cl-primary20);
    border-radius: 4px;
    margin: 0 3px;
    cursor: pointer;
}

.sub-nav-tab:hover {
    background-color: var(--cl-primary10);
    border-color: var(--cl-primary100);
    color: var(--cl-primary100);
    transition: var(--transition);
}

.tab-left {
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    margin-right: 11px;
}

.tab-right {
    padding: 4px 9px;
    border-radius: 240px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    margin-left: 11px;
    background-color: var(--cl-primary10);
}

.sub-nav-tab:hover .tab-right {
    background-color: var(--cl-primary20);
    transition: var(--transition);
}

.tabs-dropdown {
    fill: var(--cl-secondary-blue-M);
    transform: rotate(90deg);
    margin-left: 17px;
    cursor: pointer;
}

.sub-nav-right {
    color: var(--cl-primary100);
    cursor: pointer;
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
}